*,
*::after,
*::before{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.test-file-container{
    width:100%;
    background-color: #fff;
    margin-top: 10rem;
    
}

.test-file-container p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 20px;
color: #8F3E97;
text-align: center;
margin-bottom: 1.25rem;
}
.test-file-container h1{
    font-family: 'inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 51px;
text-align: center;
color: #121212;

}